// override bootstrap
.tooltip-inner {
  max-width: 160px;
  width: 160px; 
}

#content {
  &.moving {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    #cover {
      z-index:10;
      width:100%;
      height:1000px;
      position:fixed;
    }
  }
}

#urls {
}

#controller {
  .btn {
    // width:30px;
    // height:30px;
  }
}

#videos {
  position: relative;
}

.video-container {
  position: absolute;
  // width: 450px;
  // height: 320px;
  padding-top: 20px;
  background-color: #333;
  cursor: move;

  &:hover {
    background-color: #999;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
  &.movable iframe {
    visibility: hidden;
  }

  .btn-group {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 20px;
    left: 0px;
    opacity: 0.75;
    // color: #fff;
    // background: #333;
    // font-size: 30px;
  }
  &:hover .btn-group{
    display: block;
  }

}
